# Database Connection
MONGO_URI="mongodb://localhost:27017/jumpa"

# BetterAuth Config
AUTH_SECRET="your_auth_secret_"
AUTH_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:3000"
WALLET_PEPPER_SECRET=""
# Google OAuth Credentials
GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# Resend Email Transport
RESEND_API_KEY="re_123456789"
RESEND_FROM_EMAIL="onboarding@resend.dev"

NEXT_PUBLIC_SOLANA_RPC=https://api.mainnet-beta.solana.com
SOL_MAINNET="https://api.mainnet-beta.solana.com"
SOL_DEVNET="https://api.devnet.solana.com"
EVM_RPC_URL="https://sepolia.drpc.org"
STELLAR_MAINNET="https://horizon.stellar.org"
STELLAR_TESTNET="https://horizon-testnet.stellar.org"
#switch for on ramp
SWITCH_LIVE_KEY=" "
SWITCH_SANDBOX_KEY=" "
SWITCH_SANDBOX_URL="https://switch-3.gitbook.io/api"

ENCRYPTION_KEY=" "
ALCHEMY_DEVNET_RPC=" "
ALCHEMY_MAINNET_RPC=" "
ALCHEMY_BASE_MAINNET_RPC=" "
ALCHEMY_API_KEY=" "

#live paystack key. Use with caution. Not used here
PAYSTACK_BEARER_KEY=" "

soroswap =" "